<% provide(:title, t("layout.about.about")) %>
<% content_for :page_detail do %>
  <%= render "layouts/page_detail" %>
<% end %>
<% content_for :middle do %>
  <%= render "layouts/middle" %>
<% end %>
<% content_for :chef do %>
  <%= render "chef" %>
<% end %>
<!-- about -->
<section class="w3ls-bnrbtm py-5" id="about" style="margin-top: 20px; ">
  <div class="container py-xl-5 py-lg-3">
    <div class="title-section text-center mb-md-5 mb-4">
      <h3 class="w3ls-title mb-3"><%= t("layout.about.name") %>
       <span><%= t("layout.about.us") %></span>
     </h3>
      <p class="titile-para-text mx-auto">
        <%= t "layout.about.p1" %>
      </p>
    </div>
    <div class="row">
      <div class="col-lg-6 pr-xl-5 mt-xl-2 mt-lg-0">
        <h3 class="title-sub mb-4"> <%= t "layout.about.h3" %></h3>
        <p class="sub-para"><%= t "layout.about.p2" %></p>
        <p class="sub-para pt-4 mt-4 border-top">
          <%= t "layout.about.p3" %>
        </p>
      </div>
      <div class="col-lg-6 text-center mt-lg-0 mt-4">
        <%= image_tag("ab.jpg", class: "img-fluid") %>
      </div>
    </div>
  </div>
</section>
<!-- //about -->

