<tr>
  <td><%= item.product_id %></td>
  <td><%= item.product_name %></td>
  <td><%= image_tag item.product_picture.url, class: "img-order" %></td>
  <td><%= item.quantity %></td>
  <td><%= number_to_currency item.price %></td>
</tr>
