<%= form_for(@user, url: change_password_user_path) do |f| %>
  <div class="row">
    <div class="col-md-4">
      <div class="profile-img">
        <%= image_tag(checked_image_user, id: :avatar,
          class: "avatar img-circle img-thumbnail") %>
        </div>
    </div>
    <div class="col-md-6">
      <div class="profile-head">
        <h3><%= current_user.name %></h3>
        <h5>
          <%= t "users.user_account" %>
        </h5>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <%= link_to t("users.information"),
                "#", class: "nav-link active", id: "home-tab" %>
            </li>
        </ul>
      </div>
    </div>
    <div class="col-md-2">
        <p class="p-updated">
          <span><%= t "users.updated_at" %>:
          </span><%= @current_user.updated_at %></p>
    </div>
  </div>
  <div class="row">
      <div class="col-md-4">
        <div class="profile-work">
            <p class="a"><%= t "users.my_account" %></p>
            <%= link_to t("users.profile"), @current_user %><br/>
            <%= link_to t("users.change_pass"), change_password_user_path %><br/>
            <%= link_to t("users.order"), "#" %><br/>
            <%= link_to t("users.comment"), "#" %><br/>
        </div>
      </div>
      <div class="col-md-8 tab-profile" >
          <div class="tab-content profile-tab" id="myTabContent">
            <div class="tab-pane fade show active">
              <%= yield f %>
            </div>
          </div>
      </div>
    </div>
  </div>
<% end %>
