<% provide(:title, t("users.profile_me")) %>
<% content_for :page_detail do %>
  <%= render "layouts/page_detail" %>
<% end %>
<div class="div-profile" ">
  <div class="container" >
    <h3><%= t("users.profile_me").upcase %></h3>
    <p><%= t "users.manager_user" %></p>
    <div class="container emp-profile a">
      <%= render "form_change_password", user: @user do |f|  %>
        <div class="row mb">
          <div class="col-md-4">
              <%= f.label t "users.old_password" %>
              <span class="text-require">*</span>
          </div>
          <div class="col-md-8">
              <%= f.password_field :old_password, class: "pa" %>
          </div>
        </div>
        <div class="row mb">
          <div class="col-md-4">
              <%= f.label t "users.new_password" %>
              <span class="text-require">*</span>
          </div>
          <div class="col-md-8">
              <%= f.password_field :password, class: "pa" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <%= f.label t "users.confirm_pass_new" %>
            <span class="text-require">*</span>
          </div>
          <div class="col-md-8">
            <%= f.password_field :password_confirmation, class: "pa" %>
            <div class="row ma">
              <%= f.button t("users.change_pass"), class: "btn-profile" %>
              <%= link_to t("users.back"),
                @current_user, class: "btn-back-profile" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
