<%= form_for [:admin, @product], enctype: "multipart/form-data" do |f| %>
  <div class="col-sm-8">
    <div class="form-group">
      <%= f.label t "admin.products.name_pro" %>
      <span class="text-require">*</span>
      <%= f.text_field :name, class: "form-control",
        placeholder: t("admin.products.name_pro") %>
      <%= display_error @product, :name, t("admin.products.name_pro") %>
    </div>
    <div class="form-group">
      <%= f.label t "admin.products.price" %>
      <span class="text-require">*</span>
      <%= f.number_field :price, class: "form-control",
        placeholder: t("admin.products.price") %>
      <%= display_error @product, :price, t("admin.products.price") %>
    </div>
    <div class="form-group">
      <%= f.label t "admin.products.quantity" %>
      <span class="text-require">*</span>
      <%= f.number_field :quantity, class: "form-control",
        placeholder: t("admin.products.quantity") %>
      <%= display_error @product, :quantity, t("admin.products.quantity") %>
    </div>
    <div class="form-group oday">
      <%= f.label t "admin.products.category" %>
      <span class="text-require">*</span><br>
      <%= f.select :category_id, {}, {include_blank: t("admin.products.cate")},
        {class: "form-control se", id: "select_category"} %>
      <%= display_error @product, :category_id, t("admin.products.category") %>
    </div>
    <div class="form-group g">
      <%= f.label t "admin.products.type" %>
      <span class="text-require">*</span><br>
      <%= f.select :product_type_id, {},
        {include_blank: t("admin.products.type")}, {class: "form-control se",
        id: "select_product_type"} %>
      <%= display_error @product, :product_type_id, t("admin.products.type") %>
    </div>
    <div class="form-group g">
      <%= f.label t "admin.products.status" %>
      <%= f.radio_button :status, Settings.product.hide,
        checked_status_radio(@product.hide?) %>
      <span class="sex"><%= t("admin.products.hide") %></span>
      <%= f.radio_button :status, Settings.product.block,
        checked_status_radio(@product.display?) %>
      <span class="sex"><%= t("admin.products.display") %></span>
    </div>
    <div class="form-group">
      <%= f.label t "admin.products.description" %><br>
      <%= f.text_area :description,
        placeholder: t("admin.categories.description"),
        cols: Settings.product.area.cols,
        rows: Settings.product.area.rows %>
    </div>
    <div class="form-group">
      <%= f.button yield(:button_text), class: "btn btn-success" %>
      <%= link_to t("admin.products.back"), admin_products_path,
        class: "btn btn-danger" %>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="profile-img">
      <%= f.label t "admin.products.image" %><br>
      <%= image_tag(checked_image(@product, :product), id: :product_img,
        class: "avatar img-thumbnail") %>
        <div class="file btn btn-lg btn-primary">
            <%= t "admin.products.change_image" %>
            <%= f.file_field :picture, onchange: "changeImgProduct(this)" %>
        </div>
      <%= display_error @product, :picture, t("admin.products.img_size") %>
      </div>
  </div>
<% end %>
