<%= search_form_for @q do |f| %>
  <div>
    <%= f.label t("search.sort_by") %>:
    <%= sort_link @q, :name, t("admin.products.name_pro") %>,
    <%= sort_link @q, :price, t("admin.products.price") %>
  </div><br>
  <div>
    <%= f.label :category_id_in, t("admin.categories.category") %><br>
    <% @categories.each do |k, v| %>
      <div class="checkbox">
        <%= label_tag nil, nil do %>
          <%= f.check_box :category_id_in, {multiple: true}, k, false %>
          <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
          <%= v %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div>
    <%= label_tag nil, t("admin.product_type.name") %><br>
    <% @product_types.each do |k, v| %>
      <div class="checkbox">
        <%= label_tag nil, nil do %>
          <%= f.check_box :product_type_id_in, {multiple: true}, k, false %>
          <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
          <%= v %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div>
    <%= label_tag nil, t("admin.products.price") %><br>
    <%= f.text_field :price_gteq, class: "input_price",
      placeholder: t("search.price.min") %> ~
    <%= f.text_field :price_lteq, class: "input_price",
      placeholder: t("search.price.max") %><br>
  </div><br>
  <%= button_tag t("search.search"), class: "btn-profile" %>
<% end %>
