<% provide(:title, t("menu.all_menu")) %>
<% content_for :page_detail do %>
  <%= render "layouts/page_detail" %>
<% end %>
<% content_for :product do %>
  <section class="blog_w3ls py-5 div-show-product">
    <div class="col-sm-3 a"><br><br><br><br>
        <%= render "left" %>
    </div>
    <div class="col-sm-9 pb-xl-5 pb-lg-3">
      <div class="title-section text-center mb-md-5 mb-4">
        <h3 class="w3ls-title"><%= t "menu.our" %>
        <span><%= t "menu.menu" %></span></h3>
      </div>
      <div class="row">
        <% if @products.any? %>
          <%= render @products %>
        <% else %>
          <p class="a"><%= t "search.empty" %></p>
        <% end %>
      </div>
      <%=  will_paginate  %>
    </div>
  </section>
<% end %>

