<div class="about-bottom">
  <div class="row no-gutters">
    <div class="col-lg-5 col-md-6 about">
    </div>
    <div class="col-lg-7 col-md-6 about-right-w3 text-right py-md-5">
      <div class="right-space py-xl-5 py-lg-3">
        <div class="title-section mb-4">
          <p class="w3ls-title-sub"><%= t "layout.about.about" %></p>
          <h3 class="w3ls-title"><%= t "layout.about.welcome" %>
            <span><%= t "layout.about.fad" %></span>
          </h3>
        </div>
        <p class="about-text"><%= t "layout.about.p" %></p>
          <%= link_to t("layout.about.read_more"),"#", class: "button-w3ls mt-5" %>
          <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
</div>
