<!-- header -->
<header id="home">
  <!-- top-bar -->
  <div class="top-bar py-2 border-bottom">
    <div class="container">
      <div class="row middle-flex">
        <div class="col-xl-6 col-md-5 top-social-agile mb-md-0 mb-1 text-lg-left text-center">
          <div class="row">
            <div class="col-xl-3 col-6 header-top_w3layouts">
              <p class="text-da">
                <span class="fa fa-map-marker mr-2">
                </span><%= t "layout.header.map" %>
              </p>
            </div>
            <div class="col-xl-3 col-6 header-top_w3layouts">
              <p class="text-da">
                <span class="fa fa-phone mr-2"></span>
                <%= t "layout.header.phone" %>
              </p>
            </div>
            <div class="col-xl-6">
                <%= form_tag(search_path, method: :get) do %>
                  <%= search_field_tag :search, nil, class: "form-control",
                    placeholder: t("layout.header.search") %>
                <% end %>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-md-7 top-social-agile text-md-right text-center pr-sm-0 mt-md-0 mt-2">
          <div class="row middle-flex">
            <div class="col-lg-6 col-8 social-grid-w3">
              <!-- social icons -->
              <ul class="top-right-info">
                <li>
                  <p><%= t "layout.header.follow_us" %></p>
                </li>
                <li class="facebook-w3">
                  <%= link_to(nil, href: "#facebook") do %>
                     <span class="fa fa-facebook"></span>
                  <% end %>
                </li>
                <li class="twitter-w3">
                  <%= link_to(nil, href: "#twitter") do %>
                     <span class="fa fa-twitter"></span>
                  <% end %>
                </li>
                <li class="google-w3">
                  <%= link_to(nil, href: "#google") do %>
                     <span class="fa fa-google-plus"></span>
                  <% end %>
                </li>
              </ul>
              <!-- //social icons -->
            </div>
            <div class="col-lg-2">
              <div class="dropdown">
                <%= button_tag t("language"), type: "button",
                  class: "btn btn-default dropdown-toggle", id: "dropdownMenu1",
                  "data-toggle" => "dropdown", style: "font-size:15px;" %>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li class="a">
                    <%= link_to t("english"), locale: :en %>
                  </li>
                  <li class="a">
                    <%= link_to t("vietnamese"), locale: :vi %>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-4 top-w3layouts p-md-0 text-right a">
              <% if logged_in? %>
                <div class="commenterImage col-lg-4">
                  <%= image_tag(checked_image_user, style: "margin-left:20px;") %>
                </div>
                <div class="dropdown col-lg-8">
                  <%= button_tag @current_user.name, type: "button",
                    class: "btn btn-default dropdown-toggle a",
                    id: "dropdownMenu1", "data-toggle" => "dropdown" %>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li class="a">
                      <%= link_to t("users.profile"), current_user %>
                    </li>
                    <li class="a">
                      <%= link_to t("users.logout"), logout_path,
                        method: :delete %>
                    </li>
                  </ul>
                </div>
              <% else %>
                <%= link_to(nil, href: login_path,
                  class: "btn login-button-2 text-uppercase text-wh") do %>
                  <span class="fa fa-sign-in mr-2"></span>
                  <%= t "layout.header.login" %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- //top-bar -->

<!-- header 2 -->
<!-- navigation -->
<div class="main-top py-1" id="menuTop">
  <div class="container">
    <div class="nav-content">
      <!-- logo -->
      <h1>
        <%= link_to(nil,href: root_path, class: "logo", id: "logo") do %>
          <%= image_tag "logo.png", class: "img-fluid" %>
          <span><%= t "layout.header.food_and_drink" %></span>
          <%= t "layout.header.fad" %>
        <% end %>
      </h1>
      <!-- //logo -->
      <!-- nav -->
      <div class="nav_web-dealingsls">
        <nav>
          <input type="checkbox" id="drop" />
          <ul class="menu">
            <li><%= link_to t("layout.header.home"), home_path %></li>
            <li><%= link_to t("layout.header.about"),about_path %></li>
            <li>
              <%= link_to t("layout.header.product"), href: products_path do %>
                <%= t("layout.header.menu") %>
                <span class="fa fa-angle-down" aria-hidden="true"></span>
              <% end %>
              <ul>
                <li><%= link_to t("layout.header.food"),"#",
                  class: "drop-text" %></li>
                <li><%= link_to t("layout.header.drink"),"#",
                  class: "drop-text" %></li>
              </ul>
            </li>
            <li><%= link_to t("layout.header.contact"),contact_path %></li>
            <li>
              <%= link_to carts_path do %>
                <span class="fa fa-shopping-cart"></span>
              <% end %>
            </li>
          </ul>
        </nav>
      </div>
      <!-- //nav -->
    </div>
  </div>
</div>
