<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render "layouts/rails_default" %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
  </head>
  <body>
    <%= render "layouts/header" %>
    <%= yield :page_detail %>
    <div class="container a">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
    </div>
    <%= yield :slider %>
    <%= yield :about %>
    <div class="container">
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
    <%= yield :middle %>
    <%= yield :chef %>
    <%= yield :wthree_slider %>
    <%= render "layouts/footer" %>
    <%= render "layouts/coppy-right" %>
  </body>
</html>
